.account {
  padding: 50px;

  &-item {
    padding: 30px;
    background-color: var(--white);
    border-radius: 10px;

    &-title {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
