.passwordInput {
  display: flex;
  gap: 5px;

  input {
    width: 30px !important;
    margin-top: 10px;
    text-align: center;
    border: none !important;
    background-color: var(--lightGray);
  }
}
