.main {
  padding: 50px;

  &-list {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--white);

    &-title {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.isMore {
  display: block;
}
.isntMore {
  display: none;
}
