.main {
  padding: 50px;

  &-list {
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--white);

    &-title {
      font-size: 20px;
      font-weight: bold;
    }
    &-content {
      height: auto;
      overflow: hidden;
      transition: height 0.15s;

      // &:hover {
      //   height: 500px;
      // }
    }
  }
}

.isMore {
  display: block;
}
.isntMore {
  display: none;
}

#sidebar {
  display: none;
}
.sidebar {
  height: 335px;
  transition: 0.3s;
}
//체크가 되었을 때 그 이웃하는 .sidebar를 지정해서 side effect 방지
#sidebar:checked ~ .sidebar {
  height: 670px;
  // 체크되었을 때 css
}
.on-off {
}
