.side {
  padding: 50px;

  &-profile {
    display: flex;

    &-info {
      font-size: 18px;

      &-image {
        float: left;
        margin-right: 20px;

        img {
          outline: 1px solid var(--darkStroke);
          border-radius: 50px;
        }
      }
      &-name {
        float: left;
        margin-top: 15px;

        span {
          font-size: 22px;
          font-weight: bold;
        }
      }
    }
  }
  &-list {
    margin-top: 25px;

    &-item {
      display: flex;
      margin-top: 35px;
      cursor: pointer;

      span {
        margin: 3px 0 0 20px;
        font-size: 20px;
      }
    }
  }
}

.isMain {
  font-weight: bold;
  color: var(--main);
}
