.createAccount {
  padding: 20px 50px;

  input {
    color: var(--black);
  }
  &-home {
    color: var(--main);
    cursor: pointer;

    span {
      margin-left: 5px;
      color: var(--main);
    }
  }
  &-content {
    margin-top: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--white);

    &-title {
      margin-bottom: 25px;
      font-size: 20px;
      font-weight: bold;
    }
    &-input {
      width: 300px;
      margin-bottom: 25px;

      span {
        font-size: 12px;
        color: red;
      }
      input {
        width: 100%;
        padding: 10px;
        border: none;
      }
      &-name {
        border-bottom: 1px solid var(--darkStroke);
      }
      &-residentNumber {
        border-bottom: 1px solid var(--darkStroke);

        input {
          width: 75px !important;
        }
        span {
          font-size: 16px;
          color: var(--black);
        }
        button {
          font-size: 16px;
          border: none;
          background: none;
          cursor: pointer;
        }
      }
      &-pw {
        input {
          width: 30px;
          margin: 10px 5px;
          font-size: 16px;
          background-color: var(--lightGray);
        }
      }
    }
    &-button {
      text-align: right;
      transition: 0.5s;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 16px;
        font-weight: bold;
        color: var(--text);
        background-color: var(--main);
      }
    }
  }
}

.inactive {
  opacity: 50%;
}

.findAccountText {
  text-align: center;
  color: var(--main);

  span {
    cursor: pointer;
    color: var(--main);

    &:hover {
      text-decoration: underline;
    }
  }
}
