.createAccount {
  margin: 50px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--white);

  &-title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;
  }
  &-content {
    &-input {
      margin-bottom: 25px;

      span {
        font-size: 12px;
        color: red;
      }
      input {
        width: 100%;
        padding: 10px;
        border: none;
      }
      &-name {
        border-bottom: 1px solid var(--darkStroke);
      }
      &-pw {
        input {
          width: 30px;
          margin: 10px 5px;
          font-size: 16px;
          background-color: var(--lightGray);
        }
      }
    }
    &-button {
      text-align: right;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 16px;
        font-weight: bold;
        color: var(--white);
        background-color: var(--main);
      }
    }
  }
}

.inactive {
  opacity: 50%;
}
