.sign {
  text-align: center;
  width: 400px;
  margin: 100px auto;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--white);

  &-title {
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
  }
  &-content {
    padding: 15px 0;

    &-input {
      float: left;
      margin-bottom: 10px;

      span {
        display: inline-block;
        text-align: right;
        width: 70px;
      }
      button {
        padding: 4px;
        border: none;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        background-color: var(--main);
      }
    }
    input {
      width: 210px;
      margin: 0 10px;
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color: var(--lightGray);
    }
  }
  &-button {
    padding: 5px 0;

    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: var(--text);
      font-weight: bold;
      cursor: pointer;
      background-color: var(--main);
    }
  }
}

.textButton {
  font-size: 14px;
  color: var(--main);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.infoText {
  text-align: left;
  color: rgb(255, 75, 75) !important;
  font-size: 12px;
}
